<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Nuevo Pedido</title>
		<link rel="stylesheet" th:href="@{/css/style.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.6.0-1/css/bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css}">
	</head>
	<body>
	
		<header th:replace="/layouts/nav :: nav"></header>
		
		<div class="container mb-3">
			<h1>Registro De Un Nuevo Pedido</h1>
			<form th:action="@{/order/guardar}" th:object="${order}" method="post" class="pt-4 pl-5 pr-5" >
				<input type="hidden" th:field="*{customer.customerNumber}" />
				
				<div class="form-group row">
					
					<div class="input-group col-sm-4 mb-2">
						<div class="input-group-prepend">
							<span class="input-group-text" id="basic-addon1">Numero del Pedido:</span>
							<input type="number" id="orderNumber" th:field="*{orderNumber}" class="form-control"/>
						</div>
						<div class="alert-danger" th:if="${#fields.hasErrors('orderNumber')}" th:errors="*{orderNumber}"></div>
					</div>
					
					<div class="input-group col-sm-4 mb-2">
						<div class="input-group-prepend">
							<span class="input-group-text" id="basic-addon1">Fecha del Pedido:</span>
							<input type="date" id="orderDate" th:field="*{orderDate}" class="form-control"/>
						</div>
						<div class="alert-danger" th:if="${#fields.hasErrors('orderDate')}" th:errors="*{orderDate}"></div>
					</div>
					
					<div class="input-group col-sm-4 mb-2">
						<div class="input-group-prepend">
							<span class="input-group-text" id="basic-addon1">Fecha Requerida del Pedido:</span>
							<input type="date" id="requiredDate" th:field="*{requiredDate}" class="form-control"/>
						</div>
						<div class="alert-danger" th:if="${#fields.hasErrors('requiredDate')}" th:errors="*{requiredDate}"></div>
					</div>
					
					<div class="input-group col-sm-4 mb-2">
						<div class="input-group-prepend">
							<span class="input-group-text" id="basic-addon1">Fecha de Envío del Pedido:</span>
							<input type="date" id="shippedDate" th:field="*{shippedDate}" class="form-control"/>
						</div>
						<div class="alert-danger" th:if="${#fields.hasErrors('shippedDate')}" th:errors="*{shippedDate}"></div>
					</div>
					
					<div class="input-group col-sm-4 mb-2">
						<div class="input-group-prepend">
							<span class="input-group-text" id="basic-addon1">Estado del Pedido:</span>
							<input type="text" id="status" th:field="*{status}" placeholder="Ingrese su estado..." class="form-control"/>	
						</div>
						<div class="alert-danger" th:if="${#fields.hasErrors('status')}" th:errors="*{status}"></div>
					</div>
				
					<div class="input-group col-sm-4 mb-2">
						<div class="input-group-prepend">
							<span class="input-group-text" id="basic-addon1">Comentarios del Pedido:</span>
							<input type="text" id="comments" th:field="*{comments}" class="form-control"/>
						</div>
						<div class="alert-danger" th:if="${#fields.hasErrors('comments')}" th:errors="*{comments}"></div>
					</div>
					
					
					<div class="input-group col-sm-4 mb-2">
						<div class="input-group-prepend">
							<span class="input-group-text" id="basic-addon1">número de cliente representa:</span>
							<select id="customer" th:field="*{customer.customerNumber}" class="custom-select">
								<option value="" seleted>Seleccicione...</option>
								<option th:each= "custo: ${customers}"
								th:value= "${custo.customerNumber}" 
								th:text="${custo.customerNumber}"
								th:selected="false" />
							</select>
						</div> 
					</div> 
					
				</div> 	
				
				 <div class="text-center">
					<button type="submit" class="btn btn-primary mr-3" >Guardar</button>
					<button type="reset" class="btn btn-primary">Borrar</button>
				 </div>
				
				
			</form>
		</div>
		
		<footer th:replace="/layouts/footer :: footer"></footer>
		
		<script type="text/javascript" th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
		<script type="text/javascript" th:src="@{/webjars/popper.js/1.16.1-lts/popper.min.js}"></script>
		<script type="text/javascript" th:src="@{/webjars/bootstrap/4.6.0-1/js/bootstrap.min.js}"></script>
	</body>
</html>