<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Nuevo Cliente</title>
		<link rel="stylesheet" th:href="@{/css/style.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.6.0-1/css/bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css}">
	</head>
	<body>
	
		<header th:replace="/layouts/nav :: nav"></header>
		
		<div class="container mb-3">
			<h1>Registro De Un Nuevo Cliente</h1>
			<form th:action="@{/customer/guardar}" th:object="${customer}" method="post" class="pt-4" >
				
				<div class="form-group row">
					<div class="input-group col-md-4 mb-2">
						<div class="input-group-prepend">
							<span class="input-group-text" id="basic-addon1">Nombre del cliente:</span>
							<input type="text" id="customerName" th:field="*{customerName}" placeholder="Ingrese Nombre..." class="form-control"/>
						</div>
						<div class="alert-danger" th:if="${#fields.hasErrors('customerName')}" th:errors="*{customerName}"></div>
					</div>
					
					<div class="input-group col-md-4 mb-2">
						<div class="input-group-prepend">
							<span class="input-group-text" id="basic-addon1">Apellido de Contacto:</span>
							<input type="text" id="contactLastName" th:field="*{contactLastName}" placeholder="Ingrese Contacto Apellido..." class="form-control"/>
						</div>
						<div class="alert-danger" th:if="${#fields.hasErrors('contactLastName')}" th:errors="*{contactLastName}"></div>
					</div>
					
					<div class="input-group col-md-4 mb-2">
						<div class="input-group-prepend">
							<span class="input-group-text" id="basic-addon1">Nombre de Contacto:</span>
							<input type="text" id="contactFirstName" th:field="*{contactFirstName}" placeholder="Ingrese Contacto Nombre..." class="form-control"/>
						</div>
						<div class="alert-danger" th:if="${#fields.hasErrors('contactFirstName')}" th:errors="*{contactFirstName}"></div>
					</div>
					
					<div class="input-group col-md-4 mb-2">
						<div class="input-group-prepend">
							<span class="input-group-text" id="basic-addon1">Teléfono de cliente:</span>
							<input type="number" id="phone" th:field="*{phone}" placeholder="Ingrese su teléfono" class="form-control"/>	
						</div>
						<div class="alert-danger" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></div>
					</div>
				
					<div class="input-group col-md-4 mb-2">
						<div class="input-group-prepend">
							<span class="input-group-text" id="basic-addon1">Dirección Línea 1:</span>
							<input type="text" id="addressLine1" th:field="*{addressLine1}" placeholder="Ingrese su Dirección Línea 1..." class="form-control"/>
						</div>
						<div class="alert-danger" th:if="${#fields.hasErrors('addressLine1')}" th:errors="*{addressLine1}"></div>
					</div>
					
					<div class="input-group col-md-4 mb-2">
						<div class="input-group-prepend">
							<span class="input-group-text" id="basic-addon1">Dirección Línea 2:</span>
							<input type="text" id="addressLine2" th:field="*{addressLine2}" placeholder="Ingrese su Dirección Línea 2..." class="form-control"/>
						</div>
						<div class="alert-danger" th:if="${#fields.hasErrors('addressLine2')}" th:errors="*{addressLine2}"></div>
					</div>
				
					<div class="input-group col-md-4 mb-2">
						<div class="input-group-prepend">
							<span class="input-group-text" id="basic-addon1">Ciudad del Cliente:</span>
							<input type="text" id="city" th:field="*{city}" placeholder="Ingrese su Ciudad..." class="form-control"/>
						</div>
						<div class="alert-danger" th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></div>
					</div>
					
					
					<div class="input-group col-md-4 mb-2">
						<div class="input-group-prepend">
							<span class="input-group-text" id="basic-addon1">Estado del Cliente:</span>
							<input type="text" id="state" th:field="*{state}" placeholder="Ingrese su Estado..." class="form-control" />
						</div>
						<div class="alert-danger" th:if="${#fields.hasErrors('state')}" th:errors="*{state}"></div>
					</div>
					
					<div class="input-group col-md-4 mb-2">
						<div class="input-group-prepend">
							<span class="input-group-text" id="basic-addon1">Codigo Postal del Cliente:</span>
							<input type="text" id="postalCode" th:field="*{postalCode}" placeholder="Ingrese su Codigo Postal... " class="form-control" />
						</div>
						<div class="alert-danger" th:if="${#fields.hasErrors('postalCode')}" th:errors="*{postalCode}"></div>
					</div>
					
					<div class="input-group col-md-4 mb-2">
						<div class="input-group-prepend">
							<span class="input-group-text" id="basic-addon1">Pais del Cliente:</span>
							<input type="text" id="country" th:field="*{country}" placeholder="Ingrese su pais..." class="form-control" />
						</div>
						<div class="alert-danger" th:if="${#fields.hasErrors('country')}" th:errors="*{country}"></div>
					</div>
					
					<div class="input-group col-md-4 mb-2">
						<div class="input-group-prepend">
							<span class="input-group-text" id="basic-addon1">Límite de Crédito del Cliente:</span>
							<input type="number" id="creditLimit" th:field="*{creditLimit}" placeholder="Ingrese su Límite de Crédito..." class="form-control" />
						</div>
						<div class="alert-danger" th:if="${#fields.hasErrors('creditLimit')}" th:errors="*{creditLimit}"></div>
					</div>
					
					<div class="input-group col-md-8 mb-2">
						<div class="input-group-prepend">
							<span class="input-group-text" id="basic-addon1">Número de empleado del representante de ventas:</span>
							<select id="employee" th:field="*{employee.employeeNumber}" class="custom-select">
								<option value="" seleted>Seleccicione...</option>
								<option th:each= "emplo: ${employees}"
								th:value= "${emplo.employeeNumber}" 
								th:text="${emplo.employeeNumber}"
								th:selected="false" />
							</select>
						
						</div>
					</div>
					
				</div>
					
				<div class="text-center">
					<button type="submit" class="btn btn-primary mr-3" >Guardar</button>
					<button type="reset" class="btn btn-primary">Borrar</button>
				</div>
			</form>
		
		
		</div>
		
		<footer th:replace="/layouts/footer :: footer"></footer>
		
		<script type="text/javascript" th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
		<script type="text/javascript" th:src="@{/webjars/popper.js/1.16.1-lts/popper.min.js}"></script>
		<script type="text/javascript" th:src="@{/webjars/bootstrap/4.6.0-1/js/bootstrap.min.js}"></script>
	</body>
</html>