<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Nuevo Producto</title>
		<link rel="stylesheet" th:href="@{/css/style.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.6.0-1/css/bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css}">
	</head>
	<body>
	
		<header th:replace="/layouts/nav :: nav"></header>
		
		<div class="container mb-3">
			<h1>Registro De Un Nuevo Producto</h1>
			<form th:action="@{/product/guardar}" th:object="${product}" method="post" class="pt-4 pl-5 pr-5" >
				
				<input type="hidden" th:field="*{productCode}" /> 
				
				<div class="form-group row">	
					<div class="input-group col-md-6 mb-2">
						<div class="input-group-prepend">
							<span class="input-group-text col-auto" id="basic-addon1">Nombre:</span> 
							<input type="text" id="productName" th:field="*{productName}" placeholder="Ingrese Nombre..." class="form-control col-sm-11"/>
						</div>
						<div class="alert-danger" th:if="${#fields.hasErrors('productName')}" th:errors="*{productName}"></div>
					</div>
					
					<div class="input-group col-md-6 mb-2">
						<div class="input-group-prepend">
							<span class="input-group-text col-auto" id="basic-addon1">Linea de Producto:</span>
							<select id="productLines" th:field="*{productLine.id}" class="custom-select col-auto">
								<option th:each= "pl: ${productLines}"
								th:value= "${pl.id}" 
								th:text="${pl.productLineName}"
								th:selected="false" />
							</select>
						</div>
					</div>
					
					<div class="input-group col-md-6 mb-2">
						<div class="input-group-prepend">
							<span class="input-group-text col-auto" id="basic-addon1">Escala:</span> 
							<input type="text" id="productScale" th:field="*{productScale}" placeholder="Ingrese Escala..." class="form-control col-auto"/>
						</div>
						<div class="alert-danger" th:if="${#fields.hasErrors('productScale')}" th:errors="*{productScale}"></div>
					</div>
					
					<div class="input-group col-md-6 mb-2">
						<div class="input-group-prepend">
							<span class="input-group-text col-auto" id="basic-addon1">Vendedor:</span> 
							<input type="text" id="productVendor" th:field="*{productVendor}" placeholder="Ingrese Vendedor..." class="form-control col-auto"/>
						</div>
						<div class="alert-danger" th:if="${#fields.hasErrors('productVendor')}" th:errors="*{productVendor}"></div>
					</div>
					
					<div class="input-group col-sm-12 mb-2">
						<div class="input-group">
						  <span for="productDescription" class="input-group-text">Descripcion</span>
						  <textarea id="productDescription" class="form-control" aria-label="Descripcion" th:field="*{productDescription}" placeholder="Descripcion del Producto..."></textarea>
						</div>
					</div>
					
					<div class="input-group col-md-6 mb-2">
						<div class="input-group-prepend">
							<span class="input-group-text col-auto" id="basic-addon1">Stock:</span> 
							<input type="number" id="quantityInStock" th:field="*{quantityInStock}" placeholder="Ingrese Stock..." class="form-control col-auto"/>
						</div>
						<div class="alert-danger" th:if="${#fields.hasErrors('quantityInStock')}" th:errors="*{quantityInStock}"></div>
					</div>
					
					<div class="input-group col-md-6 mb-2">
						<div class="input-group-prepend">
							<span class="input-group-text col-auto" id="basic-addon1">Precio: $</span> 
							<input type="number" id="buyPrice" th:field="*{buyPrice}" placeholder="Ingrese Precio..." class="form-control col-auto"/>
						</div>
						<div class="alert-danger" th:if="${#fields.hasErrors('buyPrice')}" th:errors="*{buyPrice}"></div>
					</div>
					
					<div class="input-group col-sm-12 mb-2">
						<div class="input-group-prepend">
							<span class="input-group-text col-auto" id="basic-addon1">Precio S/Fabricante: $</span> 
							<input type="number" id="msrp" th:field="*{msrp}" placeholder="Sugerido para el Fabricante..." class="form-control col-sm-11"/>
						</div>
						<div class="alert-danger" th:if="${#fields.hasErrors('msrp')}" th:errors="*{msrp}"></div>
					</div>
				</div>
				<div class="text-center">
					<button type="submit" class="btn btn-primary mr-3" >Guardar</button>
					<button type="reset" class="btn btn-primary">Borrar</button>
				</div> 
			</form> 
		
		</div>
		
		<footer th:replace="/layouts/footer :: footer"></footer>
		
		<script type="text/javascript" th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
		<script type="text/javascript" th:src="@{/webjars/popper.js/1.16.1-lts/popper.min.js}"></script>
		<script type="text/javascript" th:src="@{/webjars/bootstrap/4.6.0-1/js/bootstrap.min.js}"></script>
	</body>
</html>

