<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Listado de Pedidos</title>
		<link rel="stylesheet" th:href="@{/css/style.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.6.0-1/css/bootstrap.min.css}">
	</head>
	<body style="background-color: #EEEEEE">
		<nav th:replace="/layouts/nav :: nav"></nav>
		<div align="center">
			<br/>
			<h1><u>Lista de Pedidos</u></h1>
			<br/>
			<div class="table-responsive p-1">
				<table id="tblOffices" class="table-info table-bordered table-hover">
					<thead class="text-center">
						<tr>
							<th colspan="7">Datos</th>
							<th rowspan="2">Acciones</th>
						</tr>
						<tr>
							<th scope="col">Numero de Orden</th>
							<th scope="col">Fecha de Orden</th>
							<th scope="col">Fecha Requerida</th>
							<th scope="col">Fecha de Envio</th>
							<th scope="col">Estado</th>
							<th scope="col">Comentarios</th>
							<th scope="col">Cliente</th>
							
						</tr>
					</thead>
					<tbody>
						<tr th:each="ord : ${orders}"  class="text-center">
							<td th:text="${ord.orderNumber}"></td>
							<td th:text="${#temporals.format(ord.orderDate,'dd/MM/yyyy')}"></td>
							<td th:text="${#temporals.format(ord.requiredDate,'dd/MM/yyyy')}"></td>
							<td th:if="${ord.shippedDate!=null}" th:text="${#temporals.format(ord.shippedDate,'dd/MM/yyyy')}"></td>
							<td th:if="${ord.shippedDate==null}" th:text="'Sin Enviar'"></td>
							<td th:text="${ord.status}"></td>
							<td th:if="${ord.comments!=''}" th:text="${ord.comments}"></td>
							<td th:if="${ord.comments==''}" th:text="'Sin Comentarios'"></td>
							<td th:if="${ord.customer1 != NULL}" th:text="${ord.customer1.customerName}"></td>
							<td th:if="${ord.customer1 == NULL}" th:text="'Cliente no encontrado'"></td>
							<td>
								<a th:href="@{/order/editar/}+${ord.orderNumber}" class="btn btn-warning">Editar</a>
								<a th:href="@{/order/eliminar/}+${ord.orderNumber}" class="btn btn-danger">Eliminar</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		
		
		<footer th:replace="/layouts/footer :: footer"></footer>
		
		<script type="text/javascript" th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
		<script type="text/javascript" th:src="@{/webjars/popper.js/1.16.1-lts/popper.min.js}"></script>
		<script type="text/javascript" th:src="@{/webjars/bootstrap/4.6.0-1/js/bootstrap.min.js}"></script>
	</body>
</html>