<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Listado Detalle de Pedidos</title>
		<link rel="stylesheet" th:href="@{/css/style.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.6.0-1/css/bootstrap.min.css}">
	</head>
	<body style="background-color: #EEEEEE">
		<nav th:replace="/layouts/nav :: nav"></nav>
		<div align="center">
			<br/>
			<h1><u>Lista Detalle de Pedidos</u></h1>
			<br/>
			<div class="table-responsive p-1">
				<table id="tblOffices" class="table-info table-bordered table-hover">
					<thead class="text-center">
						<tr>
							<th colspan="5">Datos</th>
							<!-- 
							<th rowspan="2">Acciones</th>
							 -->
						</tr>
						<tr>
							<th scope="col"># Orden</th>
							<th scope="col">Precio Unitario</th>
							<th scope="col">Cantidad Ordenada</th>
							<th scope="col">Cod. Producto</th>
							<th scope="col"># Pedido</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="ord : ${orderDetails}"  class="text-center">
							<td th:text="${ord.id.orderNumber.orderNumber.}"></td>
							<td th:text="${ord.priceEach}"></td>
							<td th:text="${ord.quantityOrdered}"></td>
							<td th:text="${ord.id.productCode.productCode}"></td>
							<!-- 
							<td>
								<a th:href="@{/order/editar/}+${}" class="btn btn-warning">Editar</a>
								<a th:href="@{/order/eliminar/}+${}" class="btn btn-danger">Eliminar</a>
							</td>
							 -->
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		
		
		<footer th:replace="/layouts/footer :: footer"></footer>
		
		<script type="text/javascript" th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
		<script type="text/javascript" th:src="@{/webjars/popper.js/1.16.1-lts/popper.min.js}"></script>
		<script type="text/javascript" th:src="@{/webjars/bootstrap/4.6.0-1/js/bootstrap.min.js}"></script>
	</body>
</html>